.navbar {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 3rem;

}

.links {
  display: flex;
  font-size: 1rem;
  padding: 16px;
}
