.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  /* overflow: hidden; */
  background-color: #1b1b1b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
  color: #3DD0D8;
}

.navbar a {
  color: #3DD0D8;
  text-decoration: none;
  padding: 0 16px;
}

.navbar a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid white;
  color: white;
}
