@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  color: #3DD0D8;
  ;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #000;
}

a {
  color: #3DD0D8;
  text-decoration: none;
  padding: 0 16px;
}

a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid white;
  color: white;
}

.btn {
  padding: 16px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: #3DD0D8;
  color: #000;
  cursor: pointer;
}
